# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push:
    branches: ["master", "main"]
    paths-ignore:
      - "profile/**"
      - "resume/**"
      - "README.md"
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: zaujulio
          template: classic
          base: ""
          debug: yes
          
          config_display: large
          config_timezone: America/Sao_Paulo
          config_twemoji: yes
          
          plugin_languages: yes
          plugin_languages_colors: rainbow # github
          plugin_languages_limit: 12
          plugin_languages_recent_days: 365
          plugin_languages_recent_load: 1000
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_languages_details: percentage
          plugin_languages_ignored: c
          plugin_languages_aliases: JavaScript:JS, TypeScript:TS, Jupyter Notebook:Jupyter
          commits_authoring: zaujulio, zauhdf@gmail.com, zaujulio@users.noreply.github.com

          # plugin_people: yes
          # plugin_people_limit: 24
          # plugin_people_size: 30
          # plugin_people_thanks: Sckelic, DayXL, Temaker11, oakanderson, JustGlowing, lpabarbosa, joaoborges, jpzm, tacianosilva, ViniciusMaiaM, JFmaia
          # plugin_people_types: thanks
          
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          plugin_wakatime_days: 30
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, os, editors
          plugin_wakatime_limit: 6
          plugin_wakatime_url: https://wakatime.com
          plugin_wakatime_user: ZauJulio

          retries: 3
          retries_delay: 300
          output_action: commit
          committer_branch: main
          filename: profile/github-metrics.svg
